<div class="my-6">
  <h2 class="text-4xl font-bold">{{ listName }}</h2>
  <p-carousel
    [value]="gameList"
    [circular]="true"
    [numVisible]="4"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    indicatorsContentClass="zp-carousel-dots"
    indicatorStyleClass="zp-carousel-dot"
    class="mt-4"
  >
    <ng-template let-game pTemplate="item">
      <app-list-games-card [game]="game" class="mx-auto w-full sm:w-64"></app-list-games-card>
    </ng-template>
  </p-carousel>
</div>
